<div class="flex mt-5 flex-col md:flex-row md:space-x-4">
  <div class="w-full mb-4 md:w-56">
    <ul class="text-center md:text-left">
      <li class="flex items-center gap-2 justify-center md:justify-start">
        <i class="fas fa-store text-[#800000]"></i>
        <a routerLink="/">Todos</a>
      </li>
      @for (category of categories(); track category) {
        <li class="flex items-center gap-2 justify-center md:justify-start">
          <i [class]="category.icon + ' text-[#800000]'" aria-hidden="true"></i>
          <!-- <i [ngClass]="category.icon" class="text-[#800000]"></i> -->
          <a routerLink="/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
      }
    </ul>
  </div>
  <div class="grid grid-cols-2 gap-8 w-full md:grid-cols-4">
    @for (product of products(); track product) {
      <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>
</div>


